manifest {
    homePage = "https://gitlab.labmed.uw.edu/genetics/hrd-pipeline"
    description = "HRD pipeline written in nextflow."
    name = "hrd-nextflow"
}
// container for labeled process declared here
// memory and cpu allocation declared 
process {
    withLabel:alignment {
        container = "nkrumm/alignment:0.1--1de88cb"
    }
    withLabel:bwa {
        container = "quay.io/biocontainers/bwa:0.7.17--ha92aebf_3"
    }
    withLabel:samtools {
        container = "quay.io/biocontainers/samtools:1.3--h0592bc0_3"
    }
    withLabel:picard {
        container = "quay.io/biocontainers/picard:2.22.1--0"
    }
    withLabel:gatk {
        container = "broadinstitute/gatk:4.1.6.0"
    }
    withLabel:sequenza {
        container = "nkrumm/sequenza-nf:0.1--0e2e591"
    }
}
profiles {
    uw_batch {
        params {
            //reference files
            genomes {
                "GRCh37" {
                    ref_fasta = "s3://uwlm-personal/references/gatk-bundle/human_g1k_v37.fasta"
                    ref_index = "s3://uwlm-personal/references/gatk-bundle/human_g1k_v37.{fasta.amb,fasta.ann,fasta.bwt,dict,fasta.fai,fasta.pac,fasta.sa}"
                    gatk_mills = "s3://uwlm-personal/references/gatk-bundle/Mills_and_1000G_gold_standard.indels.b37.vcf"
                    gatk_mills_index = "s3://uwlm-personal/references/gatk-bundle/Mills_and_1000G_gold_standard.indels.b37.vcf.idx"
                    gatk_1kg = "s3://uwlm-personal/references/gatk-bundle/1000G_phase1.indels.b37.vcf"
                    gatk_1kg_index = "s3://uwlm-personal/references/gatk-bundle/1000G_phase1.indels.b37.vcf.idx"
                }
            }
        }
        workDir = "s3://uwlm-nextflow-data/workdir/hrd-nextflow"
        process {
            scratch = "/docker_scratch"
            queue = "ngs-queue"
            executor = "awsbatch"
            withLabel:alignment {
                cpus = 30
                memory = "60GB"
            }
            withLabel:bwa {
                cpus = 8
                memory = "4GB"
            }
            withLabel:samtools {
                cpus = 8
                memory = "4GB"
            }
            withLabel:picard {
                cpus = 8
                memory = "4GB"
            }
            withLabel:gatk {
                cpus = 8
                memory = "4GB"
            }
            withLabel:sequenza {
                cpus = 8
                memory = "4GB"
            }
        }
        aws {
            region = "us-west-2"
            batch {
                volumes = "/docker_scratch"
                cliPath = "/home/ec2-user/miniconda/bin/aws"
            }
        }
    }
    docker {
        params {   
            workDir = "/mnt/disk10/users/ghuff/hrd-pipeline/"
            output = "/mnt/disk10/users/ghuff/hrd-pipeline/output/"
            genomes_base = "/mnt/disk2/com/Genomes/"
            genomes {
                "GRCh37" {
                    ref_fasta = "/mnt/disk2/com/Genomes/gatk-bundle/human_g1k_v37.fasta"
                    ref_index = "/mnt/disk2/com/Genomes/gatk-bundle/human_g1k_v37.{fasta.amb,fasta.ann,fasta.bwt,dict,fasta.fai,fasta.pac,fasta.sa}"
                    gatk_mills = "/mnt/disk2/com/Genomes/gatk-bundle/Mills_and_1000G_gold_standard.indels.b37.vcf"
                    gatk_mills_index = "/mnt/disk2/com/Genomes/gatk-bundle/Mills_and_1000G_gold_standard.indels.b37.vcf.idx"
                    gatk_1kg = "/mnt/disk2/com/Genomes/gatk-bundle/1000G_phase1.indels.b37.vcf"
                    gatk_1kg_index = "/mnt/disk2/com/Genomes/gatk-bundle/1000G_phase1.indels.b37.vcf.idx"
                }
            }
        }
        docker.enabled = true
        docker.temp = "auto"
        // Avoid this error:
        // WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
        // discussion here https://github.com/nf-core/tools/pull/351
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        singularity.enabled = false
        process.executor = "local"
        queueSize = 10
        max_cpus = 32
        max_memory = 128.GB
        process {
            withLabel:alignment {
                cpus = 8
            }
            withLabel:bwa {
                cpus = 8
            }
            withLabel:samtools {
                cpus = 8
                memory = "4GB"
            }
            withLabel:picard {
                cpus = 8
                memory = "4GB"
            }
            withLabel:gatk {
                cpus = 8
                memory = "4GB"
            }
            withLabel:sequenza {
                cpus = 8
            }
        }
    }
}
